*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --bg: #F6F6F8;
  --bg-hover: #F1F1F3;
}

body{
  background: #F0F0F2;
}

main{
  max-width: 37.5rem;
  background: #fff;
  border-radius: .75rem;
  box-shadow: .125rem 5.333rem 2.2857rem .125rem rgb(#000, .02);
  padding: 2rem;
  margin: 5rem auto;
}



// typography

body, input, textarea, button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: #000;
}

p{ line-height: 1.5; }



// components

nav{
  display: flex;
  margin-bottom: 2rem;
  .title{
    font-size: 2rem;
    margin-right: auto;
  }
  .buttons{
    display: flex;
    gap: .5rem;
  }
}

.btn{
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  padding: .75rem 1.25rem;
  &:not(.transparent){
    background: #000;
    color: #fff;
  }
  &.transparent{
    padding: .75rem 1rem;
    &:hover{ background: var(--bg); }
  }
}

input, textarea{
  border: none;
  background: var(--bg);
  border-radius: .3rem;
  padding: 1rem;
}

.loading{
  display: flex;
  flex-flow: column;
  gap: .5rem;
  .row{
    max-width: 20rem;
    height: 1rem;
    background: var(--bg);
    border-radius: .25rem;
    &:nth-child(2){ max-width: 15rem; }
    &:nth-child(3){ max-width: 10rem; }
  }
}



// sections

section.notes{
  display: flex;
  flex-flow: column;
  gap: .75rem;
  .note{
    cursor: pointer;
    background: var(--bg);
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    &:hover{ background: var(--bg-hover); }
    span{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

section.create{
  form{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    textarea{
      resize: none;
      height: 10rem;
    }
    .cont{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .creating{
        &.hidden{
          visibility: hidden;
        }
      }
    }
  }
}